extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Juan Nuñez

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am an 8 week veteran in the world of Javascript. 
            | If I have learned this much in just 8 weeks, imagine what I could learn working full-time at your company!
            | I hope you enjoyed my elevator pitch as much as I enjoyed this project!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li Javascript
          li jQuery
          li Object-Oriented Programming 
          li API
          li Node.js
          li Express
          li Pug
          li Fullstack Javascript Ninja

        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-867-5309
          li FullstackNinja@cooldevelopers.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(target="_blank", href='https://www.linkedin.com/in/fullstack-ninja-0a6bb218b/') LinkedIn
        a.button.expanded(target="_blank", href='https://github.com/nunju9a') GitHub
        a.button.expanded(target="_blank", href='https://teamtreehouse.com/juannunez4') Team Treehouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back