extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- My name
        h1 Juan Nuñez

        //- My Title
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- My Elevator pitch
        .portfolio-bio
          p
            | At this point, I am an 8 week veteran in the world of JavaScript. 
            | If I have learned this much in just 8 weeks, imagine what I could learn working full-time at your company!
            | Always looking for new learning opportunities!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- My skills
        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li OOP 
          li API
          li Node.js
          li Express
          li Pug
          li React
          li SQL

        h6 Contact Info

        //- My contact info
        ul
          li 848-468-9468
          li juan.nunez1@verizon.com

        //- Links to social media
        a.button.expanded(target="_blank", href='https://www.linkedin.com/in/fullstack-ninja-0a6bb218b/') LinkedIn
        a.button.expanded(target="_blank", href='https://github.com/nunju9a') GitHub
        a.button.expanded(target="_blank", href='https://teamtreehouse.com/juannunez4') Team Treehouse
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back